body {
  font-family: Roboto, sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.list {
  list-style: none;
}

.disk-type-wrap {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.disk-quantity {
  width: 50%;
}

.btn-calc {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
input[type="number"] {
  width: 60px;
  text-align: center;
}
.results p {
  font-size: 18px;
}
