body {
  font-family: Roboto, sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  cursor: pointer;
}

.title {
  margin-bottom: 20px;
}

.list {
  list-style: none;
}

#diskList {
  height: 30dvh;
  overflow-y: scroll;
  padding: 10px;
}

.disk-type-wrap {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid gray;
}

.disk-quantity {
  width: 50%;
}

.btn-calc,
.btn-reset {
  width: 50%;
}

.btns-wrap {
  display: flex;
  width: 100%;
  gap: 10px;
}

input[type="number"] {
  width: 60px;
  text-align: center;
}
.results p {
  font-size: 18px;
}
